<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <!--ICONS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <!--FONTS PASAR*-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Style+Script&display=swap" rel="stylesheet">
    <!--STYLES-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="sb-nav-fixed">
    <header>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!--NAVBAR-LOGO-->
            <a class="navbar-brand ps-3" href="index.html"><img id="imgpri" src="/img/LOGOactualizado.png" alt="Logotipo" /></a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <!--FACEBOOK-->
                <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/Residencia-Otoya-409581009111452/" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <!--GOOGLE-->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/maps/dir/9.9710782,-84.0061651/residencia+geriatrica+otoya/" role="button">
                    <i class="fab fa-google"></i>
                </a>
                <!--INSTAGRAM-->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/residencia_otoya/?hl=es" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
            </section>
        </div>
        <!--COPYRIGHT-->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </div>
    </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")VERSION REVISAR MISMO CONTENIDO DE BOOSTRAP5*@
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/efect.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

