@{
    ViewBag.Title = "JornadaExtra";
}

<div>
    <h2 id="titleCol">Registro de Jornada Extra</h2> <!--CAMBIAR-->
</div>
<div class="sechead">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Prestaciones
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" onclick="mostrarSecHorasExtra()">Horas Extra</a></li>
            <li><a class="dropdown-item" onclick="mostrarSecFeriados()">Feriados</a></li>
        </ul>
    </div>
</div>

<!--SECCION DE HORAS EXTRA-->
<div id="SectionHorasExtra">
    <div>
        <h2 id="titleCol">Registro de Horas Extra</h2>
    </div>
    <div class="sechead">
        <button id="btnAddHorasExtra" type="button" class="btn btn-secondary btns" data-bs-toggle="modal" data-bs-target="#HorasExtra">Registrar Horas Extras<img id="imgAddHextra" class="imgsadd" src="/img/user.png" /></button>
    </div>

    <div id="SecHorasExtra " class="container sections">
        <form>
            <!--DATA TABLE-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Información Horas Extra
                </div>
                <div class="card-body">
                    <table id="datatableshExtra">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Cédula</th>
                                <th>Descripcion</th>
                                <th>Fecha Emisión</th>
                                <th>Monto</th>
                                <th>Meses</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Cédula</th>
                                <th>Descripcion</th>
                                <th>Fecha Emisión</th>
                                <th>Monto</th>
                                <th>Meses</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>
                                    <a style="padding-left:30px" href="@Url.Action("Login")" data-bs-toggle="modal" data-bs-target="#ModModalHExtra"><img width="20" height="20" src="/img/edit.png" /></a>
                                    <a href="@Url.Action("ModModalHExtra")"><img width="20" height="20" src="/img/delete.png" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>
                                    <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                    <a onclick="elim()"><img width="20" height="20" src="/img/delete.png" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>
                                    <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                    <a href="@Url.Action("Login")"><img width="20" height="20" src="/img/delete.png" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>$433,060</td>
                            </tr>
                            <tr>
                                <td>Zorita Serrano</td>
                                <td>Software Engineer</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>56</td>
                                <td>2012/06/01</td>
                            </tr>
                            <tr>
                                <td>Hermione Butler</td>
                                <td>Regional Director</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>London</td>
                                <td>47</td>
                                <td>2011/03/21</td>
                            </tr>
                            <tr>
                                <td>Michael Bruce</td>
                                <td>Javascript Developer</td>
                                <td>Singapore</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>29</td>
                                <td>2011/06/27</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>27</td>
                                <td>2011/01/25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--MODAL REGISTRAR HORAS EXTRAS-->
            <div class="modal" id="HorasExtra" tabindex="-1" aria-labelledby="ModalRegHorasExtra" aria-hidden="true">
                <div id="modalhoraextra" class="modal-dialog modal-xl">
                    <div id="modalhextra" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalRegHorasExtra">Registrar Hora Extra<img id="imgdhextra" class="imgsadd" src="/img/adduser.png" /></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="bodymodalhextra" class="mbody">
                                <!--FIRST ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                        </div>
                                    </div>
                                </div>
                                <!--SECOND ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" placeholder="Fecha"
                                                   onfocus="(this.type='date')">
                                        </div>
                                    </div>
                                </div>
                                <!--THIRD ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Hora Inicio" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Hora Fin" />
                                        </div>
                                    </div>
                                </div>
                                <!--FOURD ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Descripción" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="TotalHoras" />
                                        </div>
                                    </div>
                                </div>
                                <!--FIVE ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="inputr" name="THoraExtra">
                                                <option value="value0">Diurna</option>
                                                <option value="value1">Nocturna</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="inputr" name="Estado">
                                                <option value="value0">Activo</option>
                                                <option value="value1">Desactivado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                                Cancelar
                            </button>
                            <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--MODAL MODIFICAR HORA EXTRA--> <!--revisar mismo id exampleModalLabel-->
            <div class="modal" id="ModModalHExtra" tabindex="-1" aria-labelledby="ModalModHextra" aria-hidden="true">
                <div id="modalmodHoraext" class="modal-dialog modal-xl">
                    <div id="modalmextra" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalModHextra">Modificar Hora Extra<img id="imgmodextra" class="imgsadd" src="/img/adduser.png" /></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="bodymodalmhextra" class="mbody">
                                <!--FIRST ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                        </div>
                                    </div>
                                </div>
                                <!--SECOND ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" placeholder="Fecha"
                                                   onfocus="(this.type='date')">
                                        </div>
                                    </div>
                                </div>
                                <!--THIRD ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Hora Inicio" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Hora Fin" />
                                        </div>
                                    </div>
                                </div>
                                <!--FOURD ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Descripción" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="TotalHoras" />
                                        </div>
                                    </div>
                                </div>
                                <!--FIVE ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="inputr" name="THoraExtra">
                                                <option value="value0">Diurna</option>
                                                <option value="value1">Nocturna</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="inputr" name="Estado">
                                                <option value="value0">Activo</option>
                                                <option value="value1">Desactivado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                                Cancelar
                            </button>
                            <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--SECCION DE FERIADOS-->
<div id="SectionFeriados">
    <div>
        <h2 id="titleCol">Registro de Feriados</h2>
    </div>
    <div class="sechead">
        <button id="btnAddFeriados" type="button" class="btn btn-secondary btns" data-bs-toggle="modal" data-bs-target="#RegFeriado">Registrar Feriados<img id="imgAddFeriado" class="imgsadd" src="/img/user.png" /></button>
    </div>

    <div id="SecFeriados " class="container sections">
        <form>
            <!--DATA TABLE-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Información Feriados
                </div>
                <div class="card-body">
                    <table id="datatableferiado">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Cédula</th>
                                <th>Descripcion</th>
                                <th>Fecha Emisión</th>
                                <th>Monto</th>
                                <th>Meses</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Cédula</th>
                                <th>Descripcion</th>
                                <th>Fecha Emisión</th>
                                <th>Monto</th>
                                <th>Meses</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>
                                    <a style="padding-left:30px" href="@Url.Action("Login")" data-bs-toggle="modal" data-bs-target="#ModModalFer"><img width="20" height="20" src="/img/edit.png" /></a>
                                    <a href="@Url.Action("ModModalFer")"><img width="20" height="20" src="/img/delete.png" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>
                                    <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                    <a onclick="elim()"><img width="20" height="20" src="/img/delete.png" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>
                                    <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                    <a href="@Url.Action("Login")"><img width="20" height="20" src="/img/delete.png" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>$433,060</td>
                            </tr>
                            <tr>
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008/11/28</td>
                            </tr>
                            <tr>
                                <td>Brielle Williamson</td>
                                <td>Integration Specialist</td>
                                <td>New York</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2012/12/02</td>
                            </tr>
                            <tr>
                                <td>Herrod Chandler</td>
                                <td>Sales Assistant</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>59</td>
                                <td>2012/08/06</td>
                            </tr>
                            <tr>
                                <td>Charde Marshall</td>
                                <td>Regional Director</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>36</td>
                                <td>2008/10/16</td>
                            </tr>
                            <tr>
                                <td>Haley Kennedy</td>
                                <td>Senior Marketing Designer</td>
                                <td>London</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>43</td>
                                <td>2012/12/18</td>
                            </tr>
                            <tr>
                                <td>Fiona Green</td>
                                <td>Chief Operating Officer (COO)</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>48</td>
                                <td>2010/03/11</td>
                            </tr>
                            <tr>
                                <td>Zenaida Frank</td>
                                <td>Software Engineer</td>
                                <td>New York</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>63</td>
                                <td>2010/01/04</td>
                            </tr>
                            <tr>
                                <td>Zorita Serrano</td>
                                <td>Software Engineer</td>
                                <td>San Francisco</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>56</td>
                                <td>2012/06/01</td>
                            </tr>
                            <tr>
                                <td>Hermione Butler</td>
                                <td>Regional Director</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>London</td>
                                <td>47</td>
                                <td>2011/03/21</td>
                            </tr>
                            <tr>
                                <td>Michael Bruce</td>
                                <td>Javascript Developer</td>
                                <td>Singapore</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>29</td>
                                <td>2011/06/27</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>27</td>
                                <td>2011/01/25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--MODAL REGISTRAR FERIADOS-->
            <div class="modal" id="RegFeriado" tabindex="-1" aria-labelledby="ModalRegFer" aria-hidden="true">
                <div id="modalfer" class="modal-dialog modal-xl">
                    <div id="modalferia" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalRegFer">Registrar Feriados<img id="imgfer" class="imgsadd" src="/img/adduser.png" /></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--FIRST ROW-->
                            <div id="bodymodalferia" class="mbody">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                        </div>
                                    </div>
                                </div>
                                <!--SECOND ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Descripción" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" placeholder="Fecha Feriado"
                                                   onfocus="(this.type='date')">
                                        </div>
                                    </div>
                                </div>
                                <!--THIRD ROWidrubro por defecto*-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="inputr" name="Tipo Pago">
                                                <option value="value0">Obligatorio</option>
                                                <option value="value1">No Obligatorio</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Total" />
                                        </div>
                                    </div>
                                </div>
                                <!--FOURD ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="inputr" name="Estado">
                                                <option value="value0">Activo</option>
                                                <option value="value1">Desactivado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                                Cancelar
                            </button>
                            <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--MODAL MODIFICAR FERIADO--> <!--revisar mismo id exampleModalLabel-->
            <div class="modal" id="ModModalFer" tabindex="-1" aria-labelledby="Modalmodfe" aria-hidden="true">
                <div id="modalmodFeria" class="modal-dialog modal-xl">
                    <div id="modalmferia" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Modalfe">Modificar Feriado<img id="imgmodferia" class="imgsadd" src="/img/adduser.png" /></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="bodymodalmferia" class="mbody">
                                <!--FIRST ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                        </div>
                                    </div>
                                </div>
                                <!--SECOND ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Descripción" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" placeholder="Fecha Feriado"
                                                   onfocus="(this.type='date')">
                                        </div>
                                    </div>
                                </div>
                                <!--THIRD ROW idrubro por defecto*-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="inputr" name="Tipo Pago">
                                                <option value="value0">Obligatorio</option>
                                                <option value="value1">No Obligatorio</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="inputr" type="text" name="nombre" placeholder="Total" />
                                        </div>
                                    </div>
                                </div>
                                <!--FOURD ROW-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="inputr" name="Estado">
                                                <option value="value0">Activo</option>
                                                <option value="value1">Desactivado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                                Cancelar
                            </button>
                            <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/vistas/JornadaExtra.js"></script>