@{
    ViewBag.Title = "Permisos";
}

<div>
    <h2 id="titleCol">Registro de Permisos</h2> <!--CAMBIAR-->
</div>
<div class="sechead">
    <button id="btnAddPer" type="button" class="btn btn-secondary btns" data-bs-toggle="modal" data-bs-target="#RegPerm">Registrar Permiso<img id="imgAddPer" class="imgsadd" src="/img/user.png" /></button>
</div>


<div id="SecPer" class="container sections">
    <form>
        <!--DATA TABLE-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Información de Permisos
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cédula</th>
                            <th>Monto</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Cédula</th>
                            <th>Monto</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>
                                <a style="padding-left:30px" href="@Url.Action("Login")" data-bs-toggle="modal" data-bs-target="#ModModalPer"><img width="20" height="20" src="/img/edit.png" /></a>
                                <a href="@Url.Action("ModModalPer")"><img width="20" height="20" src="/img/delete.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>
                                <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                <a onclick="elim()"><img width="20" height="20" src="/img/delete.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>
                                <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                <a href="@Url.Action("Login")"><img width="20" height="20" src="/img/delete.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>Haley Kennedy</td>
                            <td>Senior Marketing Designer</td>
                            <td>London</td>
                            <td>43</td>
                        </tr>
                        <tr>
                            <td>Fiona Green</td>
                            <td>Chief Operating Officer (COO)</td>
                            <td>San Francisco</td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>Zenaida Frank</td>
                            <td>Software Engineer</td>
                            <td>New York</td>
                            <td>63</td>
                        </tr>
                        <tr>
                            <td>Zorita Serrano</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td>Hermione Butler</td>
                            <td>Regional Director</td>
                            <td>London</td>
                            <td>47</td>
                        </tr>
                        <tr>
                            <td>Michael Bruce</td>
                            <td>Javascript Developer</td>
                            <td>Singapore</td>
                            <td>29</td>
                        </tr>
                        <tr>
                            <td>Donna Snider</td>
                            <td>Customer Support</td>
                            <td>New York</td>
                            <td>27</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--MODAL REGISTRAR INCAPACIDAD-->
        <div class="modal" id="RegPerm" tabindex="-1" aria-labelledby="ModalRegPermiso" aria-hidden="true">
            <div id="modalperm" class="modal-dialog modal-xl">
                <div id="modalcopermiso" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalRegPermiso">Registrar Permiso<img id="imgper" class="imgsadd" src="/img/adduser.png" /></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--FIRST ROW-->
                        <div id="bodymodalperm" class="mbody">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                    </div>
                                </div>
                            </div>
                            <!--FIRST ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Inicio"
                                               onfocus="(this.type='date')">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Fin"
                                               onfocus="(this.type='date')">
                                    </div>
                                </div>
                            </div>
                            <!--SECOND ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="inputr" name="Estado">
                                            <option value="value0">Activo</option>
                                            <option value="value1">Desactivado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                            Cancelar
                        </button>
                        <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL MODIFICAR SALARIO--> <!--revisar mismo id exampleModalLabel-->
        <div class="modal" id="ModModalPer" tabindex="-1" aria-labelledby="Modalmodperm" aria-hidden="true">
            <div id="modalmodperm" class="modal-dialog modal-xl">
                <div id="modalmperm" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modalmodperm">Modificar Permiso<img id="imgmodper" class="imgsadd" src="/img/adduser.png" /></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="bodymodalmpermp" class="mbody">
                            <!--FIRST ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                    </div>
                                </div>
                            </div>
                            <!--FIRST ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Inicio"
                                               onfocus="(this.type='date')">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Fin"
                                               onfocus="(this.type='date')">
                                    </div>
                                </div>
                            </div>
                            <!--SECOND ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="inputr" name="Estado">
                                            <option value="value0">Activo</option>
                                            <option value="value1">Desactivado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                            Cancelar
                        </button>
                        <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var msg = "Esta seguro que desea eliminar los datos"

    function elim() {
        alert(msg);
    }
</script>



