@{
    ViewBag.Title = "Preavisos";
}


<div>
    <h2 id="titleCol">Registro de Preavisos</h2>
</div>
<div class="sechead">
    <button id="btnAddPreaviso" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#RegPreaviso">Registrar Preavisos<img id="imgAddPrea" src="/img/user.png" /></button>
</div>

<div id="SecPreaviso" class="container">
    <form>
        <!--DATA TABLE-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Información Preavisos
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cedula</th>
                            <th>Correo</th>
                            <th>Tipo Correo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Cedula</th>
                            <th>Correo</th>
                            <th>Tipo Correo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>
                                <a style="padding-left:30px" href="@Url.Action("Login")" data-bs-toggle="modal" data-bs-target="#ModModalPrea"><img width="20" height="20" src="/img/edit.png" /></a>
                                <a href="@Url.Action("ModModalPrea")"><img width="20" height="20" src="/img/delete.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>
                                <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                <a onclick="elim()"><img width="20" height="20" src="/img/delete.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>
                                <a style="padding-left:30px" href="@Url.Action("Login")"><img width="20" height="20" src="/img/edit.png" /></a>
                                <a href="@Url.Action("Login")"><img width="20" height="20" src="/img/delete.png" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>$433,060</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>61</td>
                            <td>2012/12/02</td>
                        </tr>
                        <tr>
                            <td>Herrod Chandler</td>
                            <td>Sales Assistant</td>
                            <td>San Francisco</td>
                            <td>59</td>
                            <td>2012/08/06</td>
                        </tr>
                        <tr>
                            <td>Charde Marshall</td>
                            <td>Regional Director</td>
                            <td>San Francisco</td>
                            <td>36</td>
                            <td>2008/10/16</td>
                        </tr>
                        <tr>
                            <td>Haley Kennedy</td>
                            <td>Senior Marketing Designer</td>
                            <td>London</td>
                            <td>43</td>
                            <td>2012/12/18</td>
                        </tr>
                        <tr>
                            <td>Fiona Green</td>
                            <td>Chief Operating Officer (COO)</td>
                            <td>San Francisco</td>
                            <td>48</td>
                            <td>2010/03/11</td>
                        </tr>
                        <tr>
                            <td>Zenaida Frank</td>
                            <td>Software Engineer</td>
                            <td>New York</td>
                            <td>63</td>
                            <td>2010/01/04</td>
                        </tr>
                        <tr>
                            <td>Zorita Serrano</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td>56</td>
                            <td>2012/06/01</td>
                        </tr>
                        <tr>
                            <td>Hermione Butler</td>
                            <td>Regional Director</td>
                            <td>London</td>
                            <td>47</td>
                            <td>2011/03/21</td>
                        </tr>
                        <tr>
                            <td>Michael Bruce</td>
                            <td>Javascript Developer</td>
                            <td>Singapore</td>
                            <td>29</td>
                            <td>2011/06/27</td>
                        </tr>
                        <tr>
                            <td>Donna Snider</td>
                            <td>Customer Support</td>
                            <td>New York</td>
                            <td>27</td>
                            <td>2011/01/25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--MODAL REGISTRAR PREAVISOS-->
        <div class="modal" id="RegPreaviso" tabindex="-1" aria-labelledby="ModalRegPreaviso" aria-hidden="true">
            <div id="modalpreav" class="modal-dialog modal-xl">
                <div id="modalpreavconten" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalRegPreaviso">Registrar Preavisos<img id="imgdprea" src="/img/adduser.png" /></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="bodymodalpreav">
                            <!--FIRST ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                    </div>
                                </div>
                            </div>
                            <!--SECOND ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Inicio"
                                               onfocus="(this.type='date')">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Fin"
                                               onfocus="(this.type='date')">
                                    </div>
                                </div>
                            </div>
                            <!--THIRD ROW  TOTATL DIAS*-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" name="cedula" placeholder="Total" />
                                    </div>
                                    <div class="col-md-6">
                                        <select class="inputr" name="Estado">
                                            <option value="value0">Activo</option>
                                            <option value="value1">Desactivado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                            Cancelar
                        </button>
                        <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL MODIFICAR PREAVISOS--> <!--revisar mismo id exampleModalLabel-->
        <div class="modal" id="ModModalPrea" tabindex="-1" aria-labelledby="ModalModPreaviso" aria-hidden="true">
            <div id="modalmodPreav" class="modal-dialog modal-xl">
                <div id="modalmPreav" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalModPreaviso">Modificar Preavisos<img id="imgmodpreav" src="/img/adduser.png" /></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="bodymodaledpreav">
                            <!--FIRST ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" name="cedula" placeholder="Cédula" />
                                    </div>
                                </div>
                            </div>
                            <!--SECOND ROW-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Inicio"
                                               onfocus="(this.type='date')">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" placeholder="Fecha Fin"
                                               onfocus="(this.type='date')">
                                    </div>
                                </div>
                            </div>
                            <!--THIRD ROW  TOTATL DIAS-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="inputr" type="text" name="cedula" placeholder="Total" />
                                    </div>
                                    <div class="col-md-6">
                                        <select class="inputr" name="Estado">
                                            <option value="value0">Activo</option>
                                            <option value="value1">Desactivado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="margin-top:10px" id="btnColabLimpiar" class="btn btn-primary" type="button">
                            Cancelar
                        </button>
                        <button style="margin-top:10px" id="btnColabGuardar" class="btn btn-primary" type="button">
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var msg = "Esta seguro que desea eliminar los datos"

    function elim() {
        alert(msg);
    }
</script>
